<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>512043512487-kobt41m9vdktjj1i336uuthue5p7ggrk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512043512487-kobt41m9vdktjj1i336uuthue5p7ggrk</string>
	<key>API_KEY</key>
	<string>AIzaSyA-81kjXrUg5z4EAi3fXO-0jYlKLzMspHw</string>
	<key>GCM_SENDER_ID</key>
	<string>512043512487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JSK.Clozbz</string>
	<key>PROJECT_ID</key>
	<string>clozbyers</string>
	<key>STORAGE_BUCKET</key>
	<string>clozbyers.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:512043512487:ios:53331dc888a303e8</string>
	<key>DATABASE_URL</key>
	<string>https://clozbyers.firebaseio.com</string>
</dict>
</plist>